services:
  glpi:
    build:
      context: .
      dockerfile: Dockerfile
    restart: "unless-stopped"
    volumes:
      - "./storage/glpi:/var/glpi:rw"
      - "../:/var/www/glpi/plugins/ticketbar:rw"
    environment:
      GLPI_DB_HOST: db
      GLPI_DB_NAME: glpi
      GLPI_DB_USER: glpi
      GLPI_DB_PASSWORD: glpi
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:80"
    networks:
      - default

  db:
    image: "mysql:8.0"
    restart: "unless-stopped"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - "./storage/mysql:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: glpi
      MYSQL_DATABASE: glpi
      MYSQL_USER: glpi
      MYSQL_PASSWORD: glpi
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "3306:3306"
    networks:
      - default

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: glpi
    depends_on:
      - db
    networks:
      - default

volumes:
  db-data: